
.cn1{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    color: white;
    background: black;
    float: left;
    margin: 15px;
}

.cn2{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background: red;
    float: left;
    margin: 15px;

}

.cn3{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background: blue;
    float: left;
    margin: 15px;

}

.primary{
    border: solid 5px black;
    border-radius: 5px;
    background: cornflowerblue;
}

.clear{
    clear: both;
}

h1 {
    border:  solid 1px black;
}

.position {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background: pink;
}