*{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary:#ff0000;
    --color-primary-backgroud:#fda90d;
    --color-secondary: #f0e9e9;
}

header .logo img{
    width: 72px;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: var(--color-primary-backgroud);
    user-select: none;
}

header .navbar{
    display: flex;
    list-style: none;
}

header .navbar li{
    letter-spacing: 3px;
    margin: 0 5px;
}

header .navbar a{
    color: var(--color-primary);
    text-decoration:none;
    font-family: sans-serif;
    padding: 5px 10px;
    border: solid 1px transparent;
    border-radius: 3px;

}

header .navbar a:hover{
    transition: 3ms;
    border: solid 1px var(--color-secondary);
    color: var(--color-secondary);
    box-shadow: 1px 1px 1px rgba(255, 0, 0, 0.5);;
}