* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

:root {
    --color-primary:#ff0000;
    --color-primary-backgroud:#fda90d;
    --color-secondary: #f0e9e9;
}

body{
    background-color: rgb(247, 250, 244);
}

header .logo img {
    width: 72px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: var(--color-primary-backgroud);
    user-select: none;
}

header .navbar {
    display: flex;
    list-style: none;
}

header .navbar li {
    letter-spacing: 3px;
    margin: 0 5px;
}

header .navbar a {
    color: var(--color-primary);
    text-decoration:none;
    padding: 5px 10px;
    border: solid 1px transparent;
    border-radius: 3px;

}

header .navbar a:hover {
    transition: 3ms;
    border: solid 1px var(--color-secondary);
    color: var(--color-secondary);
    box-shadow: 1px 1px 1px rgba(255, 0, 0, 0.5);;
}

/*Sobre mim */
.about .flex {
    padding: 10vmin 20vmin 20vmin 20vmin;
    user-select: none;
    display: flex;
}

.about .div-about .img-about img {
    border-radius: 0.5em;
    width: 550px;
}

.about .div-about:last-child {
    position: relative;
}

.about .div-about .text-right {
    position: relative;
    top: 5vmin;
    left: -7vmin;    
    background-color: #fff;
    box-shadow: 25px 35px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10vmin 8vmin 10vmin 12vmin;
}

.about .div-about .text-right h1 {
    padding-bottom: 0.4em ;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.about .div-about .text-right p {
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    padding-bottom: 0.4em ;
}

.about .div-about .text-right span {
    font-weight: bolder;
}

/*Personagens Principais*/
.main-characters .head-main-characters {
    text-align: center;
    padding-top: 30px;
}

.main-characters  .flex {
    padding: 10vmin 0;
    user-select: none;
    display: flex;
}

.main-characters .flex .img img {
    width: 150px;
    height: 150px;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    margin: 0 10px 0 10px ;
    background-color: var(--color-primary-backgroud);
}

.main-characters .flex .post {
    text-align: center;
    font-weight: 500;
}

footer {
    text-align: center;
}

footer img { 
    height: 230px;
}